@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Poppins:wght@300;600&display=swap');

body {
    background: linear-gradient(to bottom, #00b4d8, #fcbf49); /* Turquoise to Golden Yellow */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #333;
    padding: 20px;
}